share_exchange.2.json
{
  "name": "Crypto Wiki: Share Exchange",
  "nodes": [
    {
      "parameters": {},
      "id": "6cdcf4cf-f116-4b0a-9082-75fb80b09b59",
      "name": "Manual Trigger (Social Share)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2096,
        736
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "slug",
              "value": "cryptocom"
            }
          ]
        },
        "options": {}
      },
      "id": "8f177c6b-b64b-4598-84a4-746d931db127",
      "name": "Set Slug",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1952,
        736
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "oktayshakirov",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "crypto-wiki",
          "mode": "name"
        },
        "filePath": "=content/exchanges/{{$json.slug}}.mdx",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "eaff61ca-0fb8-450b-b73e-8fbf386c9b36",
      "name": "Get Exchange MDX",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -1808,
        736
      ],
      "webhookId": "9378457c-322a-4fbe-862f-fa2358a685cb",
      "credentials": {
        "githubApi": {
          "id": "PGPD26vSgTS2AeM8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content;\nconst decoded = Buffer.from(raw, 'base64').toString('utf8');\nconst match = /---([\\s\\S]*?)---/.exec(decoded);\nconst fm = {};\nif (match && match[1]) {\n  match[1].split('\\n').forEach(line => {\n    const [key, ...rest] = line.split(':');\n    if (key && rest.length > 0) {\n      fm[key.trim()] = rest.join(':').trim().replace(/^\\\"|\\\"$|'/g, '');\n    }\n  });\n}\nreturn [{ json: {\n  name: fm.title || \"Exchange\",\n  image: fm.image ? `https://www.thecrypto.wiki${fm.image}` : \"\",\n  description: fm.description || \"\",\n  link: `http://thecrypto.wiki/exchanges/${$json.name.replace('.mdx','')}`\n}}];"
      },
      "id": "11725323-a776-4fae-b504-628a97b7ec74",
      "name": "Parse Frontmatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1648,
        736
      ]
    },
    {
      "parameters": {
        "imageTemplateId": "a6077b23d13fc380",
        "overridesUi": {
          "overrideValues": [
            {
              "propertiesUi": {
                "propertyValues": [
                  {
                    "key": "image.src",
                    "value": "={{$json.image}}"
                  },
                  {
                    "key": "title.text",
                    "value": "=Is {{$json.name}} the right platform for you ?"
                  },
                  {
                    "key": "description.text",
                    "value": "={{$json.description}}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "50ed748b-4663-4f46-a85c-78e1105ad8cf",
      "name": "Create an image",
      "type": "n8n-nodes-base.apiTemplateIo",
      "typeVersion": 1,
      "position": [
        -1504,
        736
      ],
      "credentials": {
        "apiTemplateIoApi": {
          "id": "vNIrPpfU5KGJggDq",
          "name": "APITemplate.io account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json.download_url_png || $json.download_url || $json.url || $json.image_url || $json.image}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "a083b0ce-5506-48c0-bb93-d00ec5d43ec4",
      "name": "Download APITemplate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1344,
        736
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "oktayshakirov",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "crypto-wiki-automation",
          "mode": "name"
        },
        "filePath": "=public/images/generated/{{$('Parse Frontmatter').item.json.name.toLowerCase()}}-{{new Date().getTime()}}.png",
        "binaryData": true,
        "commitMessage": "new automated image"
      },
      "id": "a95d0e9d-7941-4494-a920-73367b3084e1",
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -1168,
        736
      ],
      "webhookId": "077f29d7-8e40-4b35-927b-da35e335485e",
      "credentials": {
        "githubApi": {
          "id": "PGPD26vSgTS2AeM8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const name = item.json.name || \"Exchanges\";\n  const link = item.json.link || \"http://thecrypto.wiki/exchanges\";\n\n  const variants = [\n    `Check out our latest ${name} review 🔎 Features, pros & cons for crypto traders. 👉 {{link}} #CryptoExchange #CryptoTrading`,\n    `Curious about ${name}? Our review covers fees, security & usability — all you need before trading digital assets. 👉 {{link}} #CryptoTrading`,\n    `We reviewed ${name} so you don't have to. Key insights on this crypto exchange 👉 {{link}} #Crypto`,\n    `Thinking about trading on ${name}? Our review explores its strengths & weaknesses to help you decide. 👉 {{link}} #CryptoExchange`,\n    `${name} under review 🔍 From security to fees, here's what every trader should know before using this exchange. 👉 {{link}} #Crypto #CryptoTrading`,\n    `Is ${name} the right platform for your crypto journey? 🚀 Our latest review breaks down the essentials. 👉 {{link}} #CryptoExchange`\n  ];\n\n  const variant = variants[Math.floor(Math.random() * variants.length)];\n\n  const fbTwPost = variant.replace(\"{{link}}\", link);\n  const igPost = variant.replace(\"{{link}}\", \"Read more at thecrypto.wiki\");\n\n  // Debug: Log the item structure to see what APITemplate.io returns\n  console.log('APITemplate.io response:', JSON.stringify(item.json, null, 2));\n\n  // Try multiple possible property names for the image URL\n  const originalImageUrl = item.json.download_url_png || \n                           item.json.download_url || \n                           item.json.url || \n                           item.json.image_url || \n                           item.json.image || \n                           \"\";\n\n  // Use GitHub URL for Instagram (Instagram-friendly)\n  const instagramImageUrl = item.json.download_url ? \n    `https://raw.githubusercontent.com/oktayshakirov/crypto-wiki-automation/main/public/images/generated/${name.toLowerCase()}-${Date.now()}.png` : \n    originalImageUrl;\n\n  return {\n    json: {\n      ...item.json,\n      facebook: fbTwPost,\n      twitter: fbTwPost,\n      instagramCaption: igPost,\n      imageUrl: instagramImageUrl,\n      originalImageUrl: originalImageUrl\n    }\n  };\n});"
      },
      "id": "221b5f4e-455a-40a1-8084-74da66923697",
      "name": "Format Social Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1008,
        736
      ]
    },
    {
      "parameters": {
        "text": "={{$json.twitter}}",
        "additionalFields": {}
      },
      "id": "31e4d291-6a55-4c9a-a662-e9b882d00f3c",
      "name": "Create Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -672,
        480
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "QT8bLYGAdrhMNYdJ",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841477190733041",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{$json.imageUrl}}"
              },
              {
                "name": "caption",
                "value": "={{$json.instagramCaption}}"
              }
            ]
          }
        }
      },
      "id": "9dc2f25f-e26f-42e3-9680-6cdd69ce406d",
      "name": "Instagram Create Media",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -784,
        736
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "CGGakNGphccGvIDc",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{$json.facebook}}"
              },
              {
                "name": "link",
                "value": "={{$json.link}}"
              }
            ]
          }
        }
      },
      "id": "c6075a70-334c-4811-a1ab-221ed2f2b6d9",
      "name": "Facebook Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -768,
        336
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "CGGakNGphccGvIDc",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841477190733041",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{$json.id}}"
              }
            ]
          }
        }
      },
      "id": "58861c4b-678f-4875-a905-4571f753bfd7",
      "name": "Instagram Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -560,
        736
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "CGGakNGphccGvIDc",
          "name": "Facebook Graph account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger (Social Share)": {
      "main": [
        [
          {
            "node": "Set Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Slug": {
      "main": [
        [
          {
            "node": "Get Exchange MDX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Exchange MDX": {
      "main": [
        [
          {
            "node": "Parse Frontmatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Frontmatter": {
      "main": [
        [
          {
            "node": "Create an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an image": {
      "main": [
        [
          {
            "node": "Download APITemplate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download APITemplate Image": {
      "main": [
        [
          {
            "node": "Upload to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        [
          {
            "node": "Format Social Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Social Post": {
      "main": [
        [
          {
            "node": "Instagram Create Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Create Media": {
      "main": [
        [
          {
            "node": "Instagram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "16f99bc8-1fc3-4dfb-b75d-c29f63f42f08",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "002b5e092f04f4d75aa57fd214532db5fa3d65fe608d265bda2ed541d575f595"
  },
  "id": "KYJga45bwixvg8DY",
  "tags": []
}