share_og.json
{
  "name": "Crypto Wiki: Share OG",
  "nodes": [
    {
      "parameters": {},
      "id": "77a45fce-1cc3-427d-a357-324a5517d033",
      "name": "Manual Trigger (Social Share)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1856,
        528
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "slug",
              "value": "changpeng-zhao"
            }
          ]
        },
        "options": {}
      },
      "id": "99b4cff4-5b97-4033-a9d5-698e8c27d73f",
      "name": "Set Slug",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1712,
        528
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "oktayshakirov",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "crypto-wiki",
          "mode": "name"
        },
        "filePath": "=content/crypto-ogs/{{$json.slug}}.mdx",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "12f7e5bb-716f-46d9-9a48-ee60ab8250c1",
      "name": "Get OG MDX",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -1568,
        528
      ],
      "webhookId": "9378457c-322a-4fbe-862f-fa2358a685cb",
      "credentials": {
        "githubApi": {
          "id": "PGPD26vSgTS2AeM8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content;\nconst decoded = Buffer.from(raw, 'base64').toString('utf8');\nconst match = /---([\\s\\S]*?)---/.exec(decoded);\nconst fm = {};\nif (match && match[1]) {\n  match[1].split('\\n').forEach(line => {\n    const [key, ...rest] = line.split(':');\n    if (key && rest.length > 0) {\n      fm[key.trim()] = rest.join(':').trim().replace(/^\\\"|\\\"$|'/g, '');\n    }\n  });\n}\nreturn [{ json: {\n  name: fm.title || \"Crypto OG\",\n  image: fm.image ? `https://www.thecrypto.wiki${fm.image}` : \"\",\n  description: fm.description || \"\",\n  link: `http://thecrypto.wiki/crypto-ogs/${$json.name.replace('.mdx','')}`\n}}];"
      },
      "id": "aad7a6f4-cad8-4ab2-8411-8ccd17a19407",
      "name": "Parse Frontmatter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1408,
        528
      ]
    },
    {
      "parameters": {
        "imageTemplateId": "07677b23e888d3cc",
        "overridesUi": {
          "overrideValues": [
            {
              "propertiesUi": {
                "propertyValues": [
                  {
                    "key": "image.src",
                    "value": "={{$json.image}}"
                  },
                  {
                    "key": "title.text",
                    "value": "=Who is {{$json.name}}?"
                  },
                  {
                    "key": "description.text",
                    "value": "={{$json.description}}"
                  }
                ]
              }
            }
          ]
        }
      },
      "id": "6dc04165-28aa-4e63-8337-aa8d18cdbcd4",
      "name": "Create an image",
      "type": "n8n-nodes-base.apiTemplateIo",
      "typeVersion": 1,
      "position": [
        -1264,
        528
      ],
      "credentials": {
        "apiTemplateIoApi": {
          "id": "vNIrPpfU5KGJggDq",
          "name": "APITemplate.io (CryptoWiki)"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json.download_url_png || $json.download_url || $json.url || $json.image_url || $json.image}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "35b800e7-563f-4e5e-a250-ec4487ae16cf",
      "name": "Download APITemplate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        528
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "oktayshakirov",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "crypto-wiki-automation",
          "mode": "name"
        },
        "filePath": "=images/crypto-ogs/{{$('Set Slug').item.json.slug}}.png",
        "binaryData": true,
        "commitMessage": "new automated image"
      },
      "id": "081d7078-6d70-4aa1-971a-ad9c3d9839e3",
      "name": "Upload to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -928,
        528
      ],
      "webhookId": "077f29d7-8e40-4b35-927b-da35e335485e",
      "credentials": {
        "githubApi": {
          "id": "PGPD26vSgTS2AeM8",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const name = $('Parse Frontmatter').item.json.name || \"Crypto OG\";\n  const link = $('Parse Frontmatter').item.json.link || \"http://thecrypto.wiki/crypto-ogs\";\n  const slug = $('Set Slug').item.json.slug || \"crypto-og\";\n\n  const variants = [\n    `Who is ${name}? 🔎 Discover their role in shaping the crypto world. 👉 {{link}}`,\n    `${name} under the spotlight 🌍 Influence, controversies & legacy in crypto history. 👉 {{link}}`,\n    `From innovation to influence — we break down ${name}'s story in crypto. 🚀 👉 {{link}}`,\n    `Is ${name} a true Crypto OG? 🤔 Explore their journey, wins & challenges. 👉 {{link}}`,\n    `Crypto OG Spotlight: ${name} 🔥 What makes them one of the most talked-about names in blockchain? 👉 {{link}}`,\n    `The story of ${name} 📖 Learn how they changed the crypto landscape forever. 👉 {{link}}`\n  ];\n\n  const variant = variants[Math.floor(Math.random() * variants.length)];\n  const fbTwPost = variant.replace(\"{{link}}\", link);\n  const igPost = variant.replace(\"{{link}}\", \"Read more at thecrypto.wiki\");\n  const instagramImageUrl = `https://raw.githubusercontent.com/oktayshakirov/crypto-wiki-automation/refs/heads/main/images/crypto-ogs/${slug}.png`;\n  const binary = $('Download APITemplate Image').item.binary || {};\n\n  return {\n    json: {\n      ...item.json,\n      facebook: fbTwPost,\n      twitter: fbTwPost,\n      instagramCaption: igPost,\n      imageUrl: instagramImageUrl,\n      link: link\n    },\n    binary\n  };\n});\n"
      },
      "id": "673fb59a-517c-4563-8d3f-228894c520e2",
      "name": "Format Social Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -768,
        528
      ]
    },
    {
      "parameters": {
        "text": "={{ $('Format Social Post').item.json.twitter }}\n",
        "additionalFields": {
          "attachments": "={{ $json.media_id_string }}"
        }
      },
      "id": "a7fcaeff-8ac2-4a85-9364-8382589f79d1",
      "name": "Create Tweet",
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        -336,
        288
      ],
      "credentials": {
        "twitterOAuth2Api": {
          "id": "QT8bLYGAdrhMNYdJ",
          "name": "X OAuth 2.0 (CryptoWiki)"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841477190733041",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{$json.imageUrl}}"
              },
              {
                "name": "caption",
                "value": "={{$json.instagramCaption}}"
              }
            ]
          }
        }
      },
      "id": "de488467-d8b8-4a51-a1a7-42e600a29b4b",
      "name": "Instagram Create Media",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -544,
        528
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "CGGakNGphccGvIDc",
          "name": "Facebook Graph (CryptoWiki)"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "me",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "message",
                "value": "={{$json.facebook}}"
              },
              {
                "name": "link",
                "value": "={{$json.link}}"
              }
            ]
          }
        }
      },
      "id": "b12e4c5c-04b4-48b1-a4a9-73e7dbd17d3f",
      "name": "Facebook Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -528,
        128
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "CGGakNGphccGvIDc",
          "name": "Facebook Graph (CryptoWiki)"
        }
      }
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841477190733041",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{$json.id}}"
              }
            ]
          }
        }
      },
      "id": "c813ff7a-8a87-480e-a8c5-cd23f1d129a5",
      "name": "Instagram Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -192,
        528
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "CGGakNGphccGvIDc",
          "name": "Facebook Graph (CryptoWiki)"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "@thecryptowiki",
        "file": "={{$json.imageUrl}}",
        "additionalFields": {
          "caption": "={{$json.twitter}}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -416,
        720
      ],
      "id": "30a465a7-eec2-4766-837e-ee337db98d53",
      "name": "Telegram Post",
      "webhookId": "5451a267-98bb-425d-9640-76c1afb4791e",
      "credentials": {
        "telegramApi": {
          "id": "uVLOnoo4RVLvHhIs",
          "name": "Telegram (CryptoWiki)"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        352
      ],
      "id": "8aecf2ec-9850-477d-99f5-667165ea2eda",
      "name": "Upload Media to Twitter",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "QT8bLYGAdrhMNYdJ",
          "name": "X OAuth 2.0 (CryptoWiki)"
        },
        "twitterOAuth1Api": {
          "id": "gG2OhuzCvK3obxs2",
          "name": "X OAuth 1.0 (CryptoWiki)"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -368,
        528
      ],
      "id": "1a872182-a068-4105-8c85-38c522c19d7e",
      "name": "Wait",
      "webhookId": "9f3d6e45-546f-4045-96a1-55ca04a14e1e"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger (Social Share)": {
      "main": [
        [
          {
            "node": "Set Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Slug": {
      "main": [
        [
          {
            "node": "Get OG MDX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OG MDX": {
      "main": [
        [
          {
            "node": "Parse Frontmatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Frontmatter": {
      "main": [
        [
          {
            "node": "Create an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an image": {
      "main": [
        [
          {
            "node": "Download APITemplate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download APITemplate Image": {
      "main": [
        [
          {
            "node": "Upload to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to GitHub": {
      "main": [
        [
          {
            "node": "Format Social Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Social Post": {
      "main": [
        [
          {
            "node": "Upload Media to Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram Create Media",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Post",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Create Media": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Media to Twitter": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Instagram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "087b17ee-a6e4-441f-a09a-71d0c277d7e8",
  "meta": {
    "instanceId": "002b5e092f04f4d75aa57fd214532db5fa3d65fe608d265bda2ed541d575f595"
  },
  "id": "kGi33eyAd87cBmEg",
  "tags": []
}